<div id="alert-container">
    <img id="success-background" src="/images/success-background.svg" alt="Success Background">

    <section class="alert-content">
        <img src="/images/icons/success-check-icon.svg" alt="Success Check Icon">
        <h1>Cadastro Salvo!</h1>
        <p>Tudo certo, seu cadastro está na nossa lista de professores.<br>
        Agora é só ficar de olho no seu WhatsApp.</p>

        <button onclick="goToStudyPage()">Acessar lista</button>
    </section>
</div>